<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class='row'>
      <div class='col-md-6'>
        <div class='search-box'>
          <div class="form-group typeahead">
            <input type="text" class="form-control typeahead-input" id="showList" placeholder="https://widget.co">
            <div id="list" class="typeahead-dropdown list-group">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <button id="reload" onclick="referallApp.reloadPath()" class='btn btn-link reload-btn' data-container="body" data-toggle="popover" data-placement="bottom" data-content="Convert all html page to referall link.">
          <i class='glyphicon glyphicon-refresh'></i>
        </button>
      </div>
    </div>
  </div>
</nav>
<div id="frame" class="container">
</div>

<% content_for :js_source do %>
<script type="text/javascript">
  var referallApp = (function() {
    var list = $('#list'),
    showList = $('#showList'),
    reload = $('#reload'),
    frame = $('#frame');

    var init = function() {
      $.ajax({
        type: 'GET',
        url: "/ajax/folders",
        success:function(data){
          var list_path = '';
          $.each(data.results , function(i, path) {
            var filename = path.replace(/^.*[\\\/]/, '')
            list_path += '<a href="javascript:void(0)" data-href="'+ path +'" class="list-group-item">https://widget.co <small class="text-muted">'+ filename +'</small></a>'
          });
          list.html(list_path);
          $('[data-toggle="popover"]').popover({trigger: 'hover'})
        }
      });

      selectPath();
    };

    var selectPath = function() {
      $(document).on('click', '.list-group-item', function () {
        $.ajax({
          type: 'POST',
          url: '/ajax/renders',
          data: { public: $(this).data('href') },
          success:function(data){
            frame.html(data);
          }
        });
      });
    }

    var reloadPath = function() {
      $.ajax({
        type: 'GET',
        url: "/ajax/converts",
        success:function(data){
          init();
        }
      });
    }

    // Public API
    return {
        init: init,
        reloadPath: reloadPath
    };
  })();


  $( document ).ready( referallApp.init );
</script>
<% end %>